{% extends 'layout.twig' %}
{% set page_title = 'Restablece tu contraseña' %}
{% block body_class %}account account-reser has-featured{% endblock body_class %}

{% block body %}
<section class="featured-block {{ settings.gradient_pages }}">
  <div class="container">
    <h1 class="title">Restablece tu contraseña</h1>
  </div>
</section>
<section class="page-content">
  <div class="container">
    <div class="row page">
      <div class="col-sm-offset-3 col-sm-6">
        <form action="/cuenta/restablecer" method="POST" role="form" class="login-form">
          <div class="form-group">
            <label for="password">Nueva contraseña</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Introduce una Contraseña nueva" required>
          </div>
          <div class="form-group">
            <label for="password_confirmation">Confirmar contraseña</label>
          <input type="password" class="form-control" id="password_confirmation" name="password_confirmation" placeholder="Vuelve a escribir tu Contraseña nueva" required>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-lg btn-action">Restablecer</button>
          </div>
          <input type="hidden" name="token" value="{{ token }}">
          <input type="hidden" name="email" value="{{ email }}">
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock body %}
