<section id="cta__bottom-newsletter">
  <div class="cta text-center">
    <div class="container">
      <h3>{{ settings.mailing_list_title }}</h3>
      <p><small>{{ settings.mailing_list_text }}</small></p>
      <div class="row">
        <div class="cta-bottom-form">
          <div class="container-fluid">
            <form class="form-inline" method="POST" action="/contacto">
              <div class="form-group">
                <label class="sr-only" for="bottomCtaBox">{{ settings.mailing_list_title }}</label>
                <div class="input-group">
                  <div class="input-group-addon"><i class="zmdi zmdi-email"></i></div>
                  <input type="email" name="email" class="form-control" id="bottomCtaBox" data-validation="email"  data-validation-error-msg="Ingrese un correo válido" placeholder="Introduce tu email" required>
                </div>
              </div>
              <button type="submit" class="btn btn-primary">¡Regístrate!</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
