
{% if settings.featured_collection_latest is not empty and collections[settings.featured_collection_latest] is defined and collections[settings.featured_collection_latest].products | length > 0  %}
{% set latest_collection = collections[settings.featured_collection_latest] %}
<section class="latest-products prod-grid__3">
    <div class="container">
      <h2 class="text-center">{{ settings.feature_latest_products_title }}</h2>
      <hr class="hr-small">
      <div class="row">
      {% for product in latest_collection.products %}
        {% include '_product-item.twig' %}
      {% endfor %}
      </div>
    </div>
  </section>
{% else %}
  <section class="content-placeholder">
    <div class="container">
      <h2 class="text-center">{{ settings.feature_latest_products_title }}</h2>
      <hr class="hr-small">
      <div class="row">
      <div class="placeholder-helper text-center">
        <div class="col-xs-12 placeholder-info">
          <p class="lead">Esta secci칩n mostrar치n los productos de la colecci칩n.</p>
          <p class="text-center"><a href="/admin/collections" class="btn btn-success">Gestionar colecciones</a>
      <a href="/admin/themes" class="btn btn-success">Ir a secci칩n de temas</a></p>
        </div>
      </div>
      </div>
    </div>
  </section>
{% endif %}
