<aside class="sidebar sidebar-sticky sidebar-main">
  {% if blogs | length > 1 %}
  <div class="widget sidebar-widget">
    <dl>
      <dt>Blogs</dt>
      {% for blog in blogs %}
      <dd><a href="/blogs/{{ blog.permalink }}">{{ blog.title }}</a></dd>
      {% endfor %}
    </dl>
  </div>
  {% endif %}
  <div class="widget sidebar-widget">
    <dl>
      <dt>Colecciones</dt>
      {% for collection in collections | slice(0,4)%}
      <dd><a href="/colecciones/{{ collection.permalink }}">{{ collection.title }}</a></dd>
      {% endfor %}
    </dl>
  </div>
</aside>
